// utils styles
@import './utils/vars';
@import './utils/v-hidden';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container';
@import './components/buttons';
@import './components/header';
@import './components/logo';
@import './components/navigation';
@import './components/hero';
@import './components/benefits';
@import './components/about';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/modal-window';
@import './components/modal-form';
@import './components/portfolio';
@import './components/menu';