.footer {
    padding: 60px 0 60px 0;
    background: var(--background-color);
}
.footer__container {
    display: flex;
    // align-items: baseline;

    flex-direction: column;
    align-items: center;

}
/* first part */
.address {
    margin-top: 20px;
}
.address__list {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.address__item {
    &:not(:last-child) {
    margin-bottom: 9px;
}
}
.address__link--white {
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--grey {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* second part */
.social-contacts {
    // margin-left: 70px;
}
.social-contacts__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.social-contacts__list {
    display: flex;
    margin-top: 20px;
}
.social-contacts__item {
    &:not(:last-child) {
    margin-right: 10px;
}
}
.social-contacts__link {
    fill: var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: var(--accent-color);
    fill: var(--secondary-color);
}
}
/* third part */
.subscribe {
    margin-left: 93px;
}
.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.subscribe__form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.subscribe__input {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    width: 358px;
    height: 50px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background-color 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

&:hover,
&:focus-within {
    border: 1px solid rgba(33, 150, 243, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
.subscribe__btn {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    padding: 10px 62px 10px 28px;
    margin-left: 12px;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

&:hover,
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
.subscribe__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    margin-left: 10px;
}