.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (max-width: 767px) {
    padding: 16px 0;
    }
}
.header-logo {
    color:#000000;

    @media screen and (min-width: 768px) {
        padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto
    }
}
.header-logo--color {
    color: var(--accent-color);
}
.footer-logo {
color: var(--secondary-color);
}
.footer-logo--color {
    color: var(--accent-color);
}