.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    }
}
.logo__first--blue {
    color: var(--accent-color);
}
.logo__second--black {
    color: #000000;
}
.logo__third--white {
    color: var(--secondary-color);
}