.modal-form {
    // width: 448px;
    margin-left: auto;
    margin-right: auto;
}
.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 12px;
}
.modal-form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal-form__label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--prevailing-color);
    margin-bottom: 4px;
}
.modal-form__input {
    // width: 100%;
    width: 370px;

    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--animation-function);

&:focus-visible,
&:hover,
&:focus {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
    }
}
.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms var(--animation-function);

.modal-form__input:hover+&,
.modal-form__input:focus+& {
    fill: var(--accent-color);
}
}
.modal-form__message {
    width: 370px;

    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    margin-bottom: 20px;
    transition: border-color 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

&::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
}
.modal-form__message:focus-visible,
.modal-form__message:hover,
.modal-form__message:focus {
    outline: none;
    border-color: var(--accent-color);
    cursor: pointer;
}
.modal-form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}
.modal-form__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    transition: 250ms var(--animation-function);
    cursor: pointer;

&:checked {
    background-color: var(--accent-color);
    border-color: transparent;
    background-size: 13px;
}
}
.modal-form__policy {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--prevailing-color);
    user-select: none;
}
.modal-form__link {
    color: var(--accent-color);
}
.modal-form__btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: auto;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: transparent;
    border-radius: 4px;
    transition: background-color 250ms var(--animation-function),
        box-shadow 250ms var(--animation-function);

&:hover,
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}