.nav {
    display: flex;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav__item {
    display: flex;
}
.nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.nav__link--current {
        color: var(--accent-color);

&::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}