.team {
    background: var(--secondary-background-color);

    @media screen and (max-width: 1199px) {
            padding: 60px 0;
        }
}
.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: calc(42 / 36);
            margin-bottom: 50px;
        }
}
.team__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        display: flex;
            gap: 30px;
            flex-wrap: wrap;
    }
    }

.team__card {
    background-color: var(--main-background-color);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
}

.profile {
    padding: 30px 0 30px 0;
    text-align: center;
}

.profile__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--header-color);
    margin-bottom: 10px;
}

.profile__position {
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--prevailing-color);
}

.profile-social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile-social__item {
    margin-top: 16px;
}

.profile-social__link {
    fill: var(--icons-fill);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--secondary-color);
    }
}