:root {
    // Fonts
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    // Colors
    --accent-color: #2196f3;
    --prevailing-color: #757575;
    --header-color: #212121;
    --secondary-color: #ffffff;
    
    --btn-hover-color: #188ce8;
    --icons-fill: #afb1b8;

    // BG-colors
    --main-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --background-color: #2f303a;

    // Animation
    --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}